<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPlwMy6J4K4s-RjZqerp7NZFV_wc2SSmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>106229984853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timerApp</string>
	<key>PROJECT_ID</key>
	<string>timer-app-25777</string>
	<key>STORAGE_BUCKET</key>
	<string>timer-app-25777.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106229984853:ios:018ac48da7c28805c5eedc</string>
</dict>
</plist>